<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.javaboy.vhr.mapper.DepartmentMapper">

  <resultMap id="BaseDepartmentMap" type="org.javaboy.vhr.model.Department">
    <id property="id" column="id"></id>
    <result property="name" column="name"></result>
    <result property="parentId" column="parentId"></result>
    <result property="depPath" column="depPath"></result>
    <result property="enabled" column="enabled"></result>
    <result property="isParent" column="isParent"></result>
  </resultMap>

  <!-- 存储过程执行完会把输出数据设置到你传过来的对象中 -->
  <select id="addDepartment" statementType="CALLABLE">
    <!--name:前台传过来的部门名称, parentId:前台传过来的父部门的id, enabled:后台逻辑设置的参数
        result:存储插入sql的受影响行数, id:插入数据后自增的id
     -->
    call addDep(#{name,mode=IN,jdbcType=VARCHAR}, #{parentId,mode=IN,jdbcType=INTEGER},#{enabled,mode=IN,jdbcType=BOOLEAN},
    #{result,mode=OUT,jdbcType=INTEGER}, #{id,mode=OUT,jdbcType=INTEGER})
  </select>

  <delete id="deleteDepartment" statementType="CALLABLE">
    call deleteDep(#{id,mode=IN,jdbcType=INTEGER}, #{result, mode=OUT, jdbcType=INTEGER})
  </delete>

  <resultMap id="getDepartmentListWithChildren" type="org.javaboy.vhr.model.Department" extends="BaseDepartmentMap">
    <!-- select:获取children数据需要执行的方法,
    column:用上一次查询结果中的某个字段当做此方法的参数，这两个属性配合使用实现递归-->
    <collection property="children" ofType="org.javaboy.vhr.model.Department"
                select="org.javaboy.vhr.mapper.DepartmentMapper.getDepartmentList"
                column="id"/>
  </resultMap>
  <select id="getDepartmentList" resultMap="getDepartmentListWithChildren">
    select * from department where parentId = #{id}
  </select>

</mapper>